p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

body {
  background-color: beige;
}
input {
    margin: .4rem;
}

h1 {
  font-family:;
  font-size: 18px;
}

.jumbotron {
  text-align: center;
  background-color: beige;
}



.ruby, .JS, .CSharp, .none {
  display: none;

}
