p {
  text-align: center;
}
label {
    font: 1rem 'Fira Sans', sans-serif;
}

body {
  background: url('../img/form2.png');
  background-position: center;


}

.bg-dark {
  color:;
}



.container {
  width:250px;
  height: 407px;
  align: center;
  background-color: mediumpurple;
  overflow: scroll;
  opacity: 0.9;
  color: lightgrey;
  border-style: solid;
  border-width: 10px;
  border-color: black;
}
input {
    margin: .4rem;
    font: yellow;

}

h1 {
  font-family:;
  font-size: 18px;
  color: red;
}

.jumbotron {
  text-align: center;
  background-color: transparent;

  /* display: none; */
}



.ruby, .JS, .CSharp, .none {
  display: none;

}

.head {
  font-family: monospace;
  font-size: 100px;
  text-align: center;

}

.zoo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
